name: CI
on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: dtolnay/rust-toolchain@stable
      - name: Install module
        run: |
          sudo apt update
          sudo apt install -y git curl luarocks lua5.4 liblua5.4-dev
          luarocks-5.4 --local install luarocks-build-rust-mlua-dev-1.rockspec
          cargo -V
          luarocks-5.4 --local install lua-ryaml

  build_luarocks_3_12:
    name: Build with luarocks 3.13
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: dtolnay/rust-toolchain@stable
      - name: Install module using luarocks 3.13
        run: |
          sudo apt update
          sudo apt install -y git curl lua5.4 liblua5.4-dev
          curl -L https://luarocks.github.io/luarocks/releases/luarocks-3.13.0.tar.gz | tar xz
          (cd luarocks-3.13.0 && ./configure && sudo make install)
          luarocks --local install luarocks-build-rust-mlua-dev-1.rockspec
          cargo -V
          luarocks --local install lua-ryaml
